h1{
        font-family: 'Baloo Thambi', cursive;
        color: whitesmoke;
}

p{
        font-family: 'Baloo Thambi', cursive;
        color: whitesmoke;
}

body{
        background: #096615;
        max-width: 1000px;
        margin: auto;
}

html{
        color: white;
}

h2{
        color: whitesmoke;
}

li{
        font-family: 'Baloo Thambi', cursive;
        color: whitesmoke;    
}